* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    list-style:none;
}

body {
    width:100%;
}
a {
    color:white;
    text-decoration:none;
}

header {
    background: url(../assets/img/codigo_html.jpg);
    background-size:cover;
    height:100vh;
}

.transparency {
    background: rgba(0,0,0,0.5);
    z-index:1;
    height:100vh;
    width:100%;
    position:absolute;
}

.navbar {
    display:inline-block;
    width:100%;
    background: #333;
    text-align:center;
    vertical-align:middle;
    position:fixed;
    z-index:10;
}

.navbar-item{
    display:inline-block;
    color:white;
    vertical-align:middle;
    text-decoration:none;
}

.navbar-gap {
    display:inline-block;
    margin-right:20px;
}

.navbar-group {
    display:inline-block;
}

.navbar-group a{
    color:white;
    text-decoration:none;
    font-weight:bold;
    font-size:1.2rem;
    margin-left:16px;
}

.navbar-links a:hover{
    text-decoration:underline;
}


#compartir-tickets {
    color:green;
}
.header-title {
    display:inline-block;
    color:white;
    text-align:right;
    position:relative;
    float:right;
    width:500px;
    top:200px;
    right:10%;
}

.title {
    font-size:40px;
    margin:10px;
}
.inline {
    display:inline-block;
}
.body {
    font-size:30px;
    margin:10px;
}

.action {
    display:inline-block;
    margin:10px;
    font-size:30px;
    font-weight:bold;
}
.btn {
    padding:1rem 1.4rem;
    font-size:1.5rem;
    border:1px solid #999;
    border-radius: 5px;
}
.btn:hover {
    background:white;
    color:black;

}

.success {
    background:green;
    color:white
}

.section-title {
    text-align:center;
    margin: 50px 0px 20px 0px;
    letter-spacing: 0.5em;
    font-family: 'Verdana', sans-serif;
    line-height:2em;
}

.row {
    display:inline-block;
    width:100%;
    text-align:center;
}

.card {
    display:inline-block;
    width:300px;
    border: 1px solid lightgray;
    margin: 0 20px;
    text-align:left;
}

.card-language {
    display:block;
    width:100%;
    margin: 5px 0;
    font-family: 'Arial',sans-serif;
    font-weight: bold;
    font-size:13px;
}

.html, .css, .js, .vue{
    border-radius:3px;
    padding: 4px 6px;
    margin: 5px 0;
    margin-right: 2px;
}

.html {
    background: lightgreen;
}

.css {
    background: orange;
}

.js {
    background: skyblue;
}

.vue {
    background: cyan;
}

.card {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin:20px;
}

.card-image{
    /*object-fit:cover; */  /* la imagenes son chicas, no funciona */
    width:300px;
}

.card-author {
    line-height:1.5em;
}

.card-title {
    margin: 20px;
}

.card-body {
    padding:0 20px 20px 20px;
    font-size: 1rem;
}

.encuentro {
    white-space:nowrap;
    background:#333;
    margin-top:50px;
}

.lugar {
    display:inline-block;
    width:50%
}

.fecha {
    white-space:normal;
    display:inline-block;
    width:50%;
    vertical-align:top;
    padding: 0 20px 0 20px;

    color:white;
}


.formulario-section {
    text-align:center;
    width:600px;
    text-align:center;
    margin: 0 auto;
}

.formulario {
    font-size: 1.3rem;
}
.formulario textarea {
    width:400px;
    font:inherit;
    margin-top:5px;
    width:100%;
    padding: 3px;

}
.formulario .submit {
    width:100%;
    margin:10px 0;
}
.input-inline {
    font:inherit;
    position:relative;
    width:296px;
    padding: 3px;
}


.help-text {
    display:block;
    margin-bottom:10px;
    font-size:10px;
    text-align:left;
    color:gray;
}

.full {
    width:100%;
}

footer {
    margin-top:50px;
    height:100px;
    background:rgb(29, 64, 84);
}
